.main{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}


.section{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}
.container {
    width: 815px;
    display: flex;
    flex-direction: column;
    
    
   
}
.btn-group{
    width: 404px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end; 

   
    align-items: end;
    text-align: center;
    margin-right: -60px;
}
.btn-group .btn{
   flex: 1;
}
@media (max-width:560px) {

    .main {
       flex: 1;
      
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;

    }
    .section {
        width: 363px;
        height: 292px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-group {
        width: 363px;
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-bottom: 32px;
        margin-top: 50px;
        margin-left: -56px;
    }
    .container {
       width: 363px;
       flex: 1;
       margin-bottom: 32px;
       text-align: center;
       margin-top: 200px;
       
    }
    .regular-text {
       margin-top: 16px;
       margin-bottom: 32px;
       
    }
    
}
