.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}

.container {
    width: 650px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 36px;
    margin-top: 32px;
}
.hero {
    width: 610px;
    height: 343px;

    background-image: var(--cta-hills);
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 32px;
}

@media (max-width: 650px) {
    .main {
        width: 427px;
        flex-direction: column;
    }
    .hero {
        width: 427px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        
       
    }
    .container {
        width: 427px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
    }
    .btn {
        width: 395px;
        margin-right: 16px;
        margin-left: 16px;
        margin-bottom: 16px;
        align-items: center;
    }
    .h1-test {
      
        
       
       
    }
}