
.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:7%;
}
.hero {
    height: 100%;
    width: 467px;

   background-image: var(--cta-hills);
   background-size: cover;
   background-position: center;
}
.container {
    width: 388px;
    height: 270px;

    align-items: flex-start;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 24px;
}
@media(max-width: 600px){
    .main{
        flex-direction: column;
    }
    .container {
        padding-bottom: 32px;
    }
    .hero {
        width: 100%;
        flex: 1;
    }
    .btn {
        padding-left: 16px;
        padding-right: 16px;


        width: 100%;

    }

}

