.main {
    width: 100vw;
    height: 100vh;
    background-image:var(--cta-background);
    background-size: cover;
    background-position: center;
    align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap:40px;
    color: var(--white);
    justify-content: center;

    text-align: center;
}
.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: center;

    flex-wrap: wrap;
    
}
.btn-group .btn{
    width: 205px;
   
    
}